@charset "UTF-8";

/*Todas demais mididas*/

/*Typical Device Breakpoints Celular:
W3C
Pquenas Telas: ate 600px
Celuolar: de 600px até 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: acima de 1200px

moveis ja foi feito com mobal fort por isso nao precisa dos 2 primeirosd

*/

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
    
}




