.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.modal-overlay__section-tela-contrate {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 900px;
    height: auto;
    gap: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

form {
    width: 90%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

/* section-tela-contrate__dias-disponiveis */

.section-tela-contrate__div-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.div-wrapper__dias-disponiveis {
    display: flex;
    max-width: 600px;
    gap: 20px;
    position: relative;
}

hr {
    background-color: black;
    width: 100%;
}


.dias-disponiveis__container-dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    padding-bottom: 5px;
    height: 105px;
    border: 1px black solid;
    border-radius: 10px;
}

.container-dia__status {
    width: 50px;
    height: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: green;
}

.div-wrapper__next-left,
.div-wrapper__next-rigth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-height: 100%;

}

.next-left__icon,
.next-rigth__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .06);
    min-width: auto;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.next-left__icon:hover,
.next-rigth__icon:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.591);
}

.div-wrapper__next-rigth {}

.next-rigth__icon {}

/* section-tela-contrate__container-horario */

.section-tela-contrate__container-horario {
    display: flex;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--cor-cinza-claro);
    border: 0px solid black;
}

.container-horario__manha,
.container-horario__tarde,
.container-horario__noite {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.manha--ativo,
.tarde--ativo,
.noite--ativo {
    border: 1px solid black;
    background-color: var(--cor-branco);

}


/* section-tela-contrate__horarios */

.section-tela-contrate__horarios {
    position: relative;
    display: flex;
    gap: 15px;
}

.horarios__wrapper {
    display: flex;
    gap: 10px;
}

.wrapper__horario {
    display: flex;
    justify-content: center;
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;

}

.horarios__next-left,
.horarios__next-rigth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-height: 100%;

}

.next-left__icon,
.next-rigth__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .06);
    min-width: auto;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.next-left__icon:hover,
.next-rigth__icon:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.591);
}

.div-wrapper__next-left {}

.div-wrapper__next-rigth {}

/* section-tela-contrate__info */

.section-tela-contrate__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 10px;

    background-color: var(--cor-cinza-claro);
}

.info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__container__titulo-periodo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info__funcionario {
    display: flex;
    justify-content: space-between;
}

.info__funcionario button {
    padding: 5px 20px;
    border: none;
    color: var(--cor-branco);
    background-color: var(--cor-primaria);
    border-radius: 5px;
}

/* section-tela-contrate__confirmar */

.section-tela-contrate__confirmar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.confirmar__title-periodo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.confirmar__preco-btnconfirmar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.confirmar__preco-btnconfirmar input {
    padding: 20px 100px;
    border: none;
    color: var(--cor-branco);
    background-color: var(--cor-primaria);
    border-radius: 5px;
    font-size: 1.2em;
}