:root {
    --cor-primaria: #5297FF;
    --cor-secundaria: #99C7FF;
    --cor-terciaria: #EBF4FF;
    
    --cor-branco: #fff;
    --cor-cinza-escuro: #BDBDBD;
    --cor-cinza-claro: #D9D9D9;
    
    --cor-preto-80: #333333;
    --cor-preto-50: #333333bb;

    --cor-cinza-font-p: #555;
    
    
    

    --font-size-padrao-h1: 3em;
    --font-size-padrao-p: 1em;
    
    --font-family-padrao-h1: Arial, Helvetica, sans-serif;
}