.detalhes-da-empresa-section__container {
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.detalhes-da-empresa-section__container h3 {


}

.container__container-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}

.container-items__item {
  display: flex;
  flex-basis: 300px;
  flex-grow: 1;
  padding: 25px;
  height: 140px;
  border: 1px solid black;
  border-radius: 5px;
}