/* 1. Itens dentro da .section-dois */

.section-dois {
   width: 100%;
   height: 100vh;
}

.section-dois__carrosel {
   position: relative; /* necessário pro ::before */
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   background-image: url("../../../../img/page/index/cosplay.jpg");
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   color: white; /* texto em branco */
   overflow: hidden;
}

/* Overlay escuro só no fundo */
.section-dois__carrosel::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.6); /* controla a escuridão */
   z-index: 0; /* fica atrás do conteúdo */
}

/* garante que o conteúdo fique na frente do overlay */
.section-dois__carrosel > * {
   position: relative;
   z-index: 1;
}


.carrosel__img {
   width: 100px;
   align-self: center;
   
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
}

.carrosel__info {
   grid-column-start: 2;
   grid-column-end: -1;
   grid-row-start: 1;
   grid-row-end: 2;
   
}

.carrosel_points {
   grid-column-start: 1;
   grid-column-end: -1;
   grid-row-start: 2;
   grid-row-end: -1;
   
}