.header-fixo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background: #333;
  /* fundo escuro */
  z-index: 1000;
  display: none;
  /* começa escondido */
  transition: all 0.3s ease-in-out;
  gap: 10px;

}

.header-fixo.mostrar {
  display: flex;
  /* aparece quando rolar */
}

.header-fixo__logo,
.header-fixo__input,
.header-fixo__login-fot-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-fixo__logo {}

.header-fixo__logo img {}

/* Botões de pesquisa e fechar escondidos no desktop */
.header-fixo__search-btn,
.header-fixo__close-btn {
  display: none;
}


.header-fixo__input {
  display: flex;
  flex-wrap: nowrap;
  width: 900px;
}

.header-fixo__input input {
  flex-basis: 290px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 55px;
  border-radius: 20px;
}

.header-fixo__login-fot-user {
  display: flex;
  flex-wrap: wrap;
}

.header-fixo__login-fot-user__input {
  font-size: 1em;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;

}

.header-fixo__login-fot-user__img-user {
  display: flex;
}

.header-fixo__login-fot-user a {
  color: white;
  text-decoration: none;
}