@charset "UTF-8";

/*Todas demais mididas*/

/*Typical Device Breakpoints Celular:
W3C
Pquenas Telas: ate 600px
Celular: de 600px até 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: acima de 1200px

moveis ja foi feito com mobal fort por isso nao precisa dos 2 primeirosd

@media screen and (max-width: 768px) {
*/

@media screen and (max-width: 768px) {

    .container-flex {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 30px;
    }

}