/*.container-flex*/
.container-flex {
    display: flex;
    height: 600px;
    margin-top: 100px;
}

/*.container-flex__menu-config*/

.container-flex__menu-config {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 700px;
    flex-shrink: 1;
    padding: 10px 0px 0px 10px;
    border-right: 1px solid black;
}

.menu-config__info-user {
    display: flex;
}

.menu-config__info-user img {
    width: 6em;
}

.menu-config__name-telefone {
    padding-top: 10px;
}

.menu-config__item {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid black;

}

.menu-config__item>img {
    width: 1.8em;

}

.menu-config__item>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-config__item>div>img {
    width: 40px;
}

/*container-flex__configuracao-de-conta-section*/

.container-flex__configuracao-de-conta-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;

}

.configuracao-de-conta-section__title {}

.configuracao-de-conta-section__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;

}

.configuracao-de-conta-section__input input {
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;

}

.configuracao-de-conta-section__input input[type="submit"] {
    margin-top: 10px;
    background-color: var(--cor-preto-80);
    color: var(--cor-branco);
    height: 40px;
    border: none;

}