.container-flex {
  display: flex;
  height: calc(100vh - 100px); /* ocupa o espaço visível menos o header fixo */
  margin-top: 100px;
  overflow: hidden; /* impede a rolagem geral do container */
}

/* Deixa o menu lateral fixo */
.container-flex__menu-config {
  min-width: 500px; /* largura fixa para o menu */
  flex-shrink: 0;
  position: sticky;
  padding: 20px 0px 0px 10px;
  top: 100px; /* igual à altura do header fixo */
  align-self: flex-start;
  height: calc(100vh - 100px);
  overflow-y: auto; /* permite rolar dentro do menu se for necessário */
  border-right: 1px solid black;
  background-color: white; /* garante que o fundo fique sólido */
}

/* Faz apenas a seção principal rolar */
.container-flex__configuracao-de-conta-section, .container-flex__agendamento-section, .container-flex__favorito, .container-flex__avaliacao, .container-flex__detalhes-da-empresa-section {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 100px);
  padding: 20px;
}


.menu-config__info-user {
    display: flex;
}

.menu-config__info-user img {
    width: 6em;
}

.menu-config__name-telefone {
    padding-top: 10px;
}

.menu-config__item {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid black;

}

.menu-config__item>img {
    width: 1.8em;
    cursor: pointer;

}

.menu-config__item>div {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-config__item>div>img {
    width: 40px;
}

/*container-flex__configuracao-de-conta-section*/

.container-flex__configuracao-de-conta-section, .container-flex__agendamento-section, .container-flex__favorito, .container-flex__avaliacao, .container-flex__detalhes-da-empresa-section {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.configuracao-de-conta-section__title, .agendamento-section__title, .favorito__title, .avaliacao__title, .detalhes-da-empresa-section__title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 30px;

}

.configuracao-de-conta-section__title img, .agendamento-section__title img, .favorito__title img, .avaliacao__title img, .detalhes-da-empresa-section__title img{
    width: 3em;
}




