.section-tres-info {
    width: 100%;
    display: grid;
    grid-template-columns: 270px 2fr 4fr 270px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.section-tres-info__banner {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    position: relative;
}

.section-tres-info__banner img {
    width: 100%;
    border-radius: 8px;
}

.section-tres-info__info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-left: 15px;
}

.banner__rating {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 0px;
    font-size: 14px;
}

/* Coração */
.banner__heart {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 0px 0px 0px 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.info__info-essencial {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;

}

.info-essencial__category span {
    position: relative;
    padding-left: 15px;
    /* espaço para o círculo */
}

.info-essencial__category span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
}

.info-essencial__category span {
    position: relative;
    padding-left: 15px;
}

.info_info-produto {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
}

.info-produto__nome {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    padding-top: 9px;

}

.info-produto__preco {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    text-align: right;
    padding-top: 9px;

}

.info_info-produto button {
    width: 100%;
    height: 30px;
    font-size: 0.8em;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    grid-column-start: 4;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    margin: auto;
}

.info_info-produto button:hover {
    background-color: #333;
}

.info-produto_1 hr,
.info-produto_2 hr,
.info-produto_3 hr {
    grid-column: 1 / -1;
    /* Faz o <hr> ocupar todas as colunas do grid */
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    /* cor opcional */
    margin-top: 10px;
}


.info-produto_1,
.info-produto_2,
.info-produto_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    grid-template-rows: 50px;
    gap: 10px;
}

.info-produto_1 {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.info-produto_2 {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;

}

.info-produto_3 {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;

}

.carrossel-rec__item-3 {
    position: relative;
    flex: 0 0 auto;
    width: 250px;
    margin-top: 10px;
    margin-right: 10px;
    background: #fff;
    border-radius: 10px;
}