.configuracao-de-conta-section__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;

}

.configuracao-de-conta-section__input input {
    height: 35px;
    border-radius: 5px;
    border: 1px black solid;

}

.configuracao-de-conta-section__input input[type="submit"] {
    margin-top: 10px;
    background-color: var(--cor-preto-80);
    color: var(--cor-branco);
    height: 43px;
    border: none;
    font-size: 1em;

}