.container-info-1__title span {
    position: relative;
    padding-left: 15px;
    /* espaço para o círculo */
}

.container-info-1__title span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    /* 🔴 mude a cor do círculo aqui */
}